.search {
    width: 90%;
    height: 98%;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    &__div {
        background-color: rgb(128, 166, 248);
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__Serch {
            width: 95%;
            height: 32px;
        }
    }
    &__resultados {
        max-width: 100%;
        min-height: 30%;
        max-height: 80%;
        width: 100%;
        overflow-y: auto;

        &__country-map {
            background-color: rgb(255, 253, 253);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 6px;
            cursor: pointer;
            padding-left: 10px;
            border-bottom: rgb(1, 247, 255) 1.8px solid;
            border-right: rgb(71, 211, 247) 1.7px solid;
            &:hover {
                background-color: rgba(17, 204, 195, 0.932);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 6px;
                cursor: pointer;
                border-bottom: rgb(1, 247, 255) 1.8px solid;
                border-right: rgb(1, 247, 255) 1.8px solid;
            }
        }
        &__flat {
            width: 40px;
            margin-right: 10px;
        }
        &__country {
            font-size: 120%;
        }
    }
}

@media (max-width: 576px) {
    .search {
            overflow: auto;
        }


}
